.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: var(--slack-color);
    color: white;
}

.header__left {
    flex: 0.3;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header__left>.MuiSvgIcon-root {
    margin-left: auto;
    margin-right: 30px;
}

.header__search {
    flex: 0.4;
    background-color: #421f44;
    text-align: center;
    display: flex;
    padding: 0 50px;
    color: gray;
    border: 1px solid gray;
    border-radius: 6px;
}

.header__search>input {
    background-color: transparent;
    border: none;
    text-align: center;
    min-width: 35vw;
    outline: none;
}

.header__right {
    flex: 0.3;
    display: flex;
    align-items: flex-end;
}

.header__right>.MuiSvgIcon-root {
    margin-left: auto;
    margin-right: 20px;
}