.message {
    display: flex;
    align-items: center;
    padding: 20px;
}

.message>img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.message_info {
    padding-left: 15px;
}

.message__timestamp {
    color: gray;
    font-weight: 300;
    font-size: 13px;
}